<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule2" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="https://cm1.com/{R:1}" logRewrittenUrl="false" />
                    <serverVariables>
                        <set name="HTTP_REFERER" value="https://cm1.com" />
                    </serverVariables>
        </rule>
      </rules>
      <outboundRules>
        <rule name="ReverseProxyOutboundRule2" preCondition="IsRedirection" patternSyntax="ExactMatch">
          <match serverVariable="RESPONSE_Location" pattern="^http(s)?://cm(.*)" />
          <action type="Rewrite" value="http{R:1}://cm.mysite.com/{R:2}" />
        </rule>
       
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>